<div class="row">
	<div class="col-md-12" style="height:200px;background-color:green;">
		Logo and Company name
	</div>
</div>
<div class="row" style="height:30px;background-color:red;">
	<div class="col-md-1" >
		Nav bar
	</div>
	<div class="col-md-2" >
		<button ng-click="navigate('krutha')">Krutha</button>
	</div>

	<div class="col-md-2" >
		<button ng-click="navigate('objective')">Objective</button>
	</div>

	<div class="col-md-2" >
		<button ng-click="navigate('career')">Career</button>
	</div>
	<div class="col-md-2" >
		<button ng-click="navigate('education')">Education</button>
	</div>
	<div class="col-md-2" >
		<button ng-click="navigate('contact')">Contact us</button>
	</div>
	<div class="col-md-1" >

	</div>
</div>

        
      